# requirements.txt
snowflake-connector-python

cffi==1.15.0

pyarrow<8.1.0,>=8.0.0

streamlit >= 1.9.2

# streamlit==1.11.0 -r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/main/tested_requirements/requirements_39.reqs
